.link {
  color: var(--color-accent-text);
  text-decoration: none;
  opacity: 1;
  transition:
    color 0.18s ease,
    opacity ease-in-out 0.2s;
}

.link:hover {
  color: var(--color-accent);
  opacity: 1;
}