.transliteration__caption {
  display: block;
  margin: 0 0 10px;
  font-weight: 600;
}

.transliteration__text--source .transliteration__caption {
  color: var(--color-text-muted);
  font-weight: 500;
  font-size: 15px;
}
